.footer{
    background: #1C2752;
}
.footer__wrap{
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer__top{
    display: flex;
    gap: 62px;
    height: auto;
}
.footer__top-img{
    width: 242px;
    height: 48px;
    margin-top: 42px;
}
.footer__top-cards{
    display: flex;
    gap: 46px;
}
.footer__top-cards-card{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__top-cards-card-desc-text{
    font-family: 'MR';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}
.footer__top-cards-card-desc-link{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: white;
}
.footer__desc{
    display: flex;
    gap: 124px;
    margin-top: 42px;
    border-top: 2px solid #4B557D;
    border-bottom: 2px solid #4B557D;
}
.footer__desc-data{
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-top: 110px;
}
.footer__desc-data-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 395px;
    width: 100%;
    height: 81px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.footer__desc-data-pics{
    display: flex;
    gap: 15px;
}
.cards{
    display: flex;
    align-items: center;
    gap: 70px;
}
.footer__cards-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__cards-card-title{
    font-family: 'MR';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #FFB342;
}
.footer__cards-card-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__cards-card-item-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.utility__card{
    margin-left: 70px;
}
@media screen and (max-width:1133px) {
    .cards{
        padding: 42px 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        row-gap: 30px;
    }
    .utility__card{
        margin-left: 0;
    }
    .footer__top-cards{
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto 40px;
    }
    .footer__top-img{
        margin-top: 60px;
    }
}
@media screen and (max-width:576px) {
    .footer__top{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .footer__top-cards{
        justify-content: center;
        margin: 0 auto 30px;
    }
    .footer__desc{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .cards{
        margin-top: -175px;
    }
    .footer__desc-data{
        align-items: center;
        margin: 60px auto;
    }
    .footer__desc-data-text{
        text-align: center;
    }
}