.gallery{
    background: #1C2752;
    width: 100%;
    height: 981px;
}
.gallery__wrap{
    padding-top: 150px;
}
.gallery__desc{
    display: flex;
    gap: 22px;
    flex-direction: column;
    align-items: center;
}
.gallery__desc-top{
    display: flex;
    flex-direction: row;
    max-width: 183px;
    width: 100%;
    height: 27px;
    background: #F4F4F4;
}
.gallery__desc-top-img{
    padding: 0 10px 0 20px;
}
.gallery__desc-top-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding:0 20px 0 10px;
}
.gallery__desc-title{
    font-family: 'MR';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    color: #FFFFFF;
}
.gallery__cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 35px 0 35px;
}
.gallery__cards-card{
    width: 100%;
    height: 477px;
    background: linear-gradient(0deg, #D2D2D2, #D2D2D2),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #D2D2D2;
}
.gallery__cards-card-title{
    display: flex;
    justify-content: center;
    font-family: 'MR';
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    color: #1C2752;
}
.gallery__cards-card-text{
    display: flex;
    justify-content: center;
    padding: 4px 0 26px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #7e7e7e;
}
.gallery__cards-card-img{
    padding: 21px 21px 27px;
}