.service{
    background: #FFB342;
    width: 100%;
    height: 900px;
}
.service__desc{
    padding-top: 150px;
    padding-bottom: 40px;
}
.service__desc-top{
    display: flex;
    flex-direction: row;
    max-width: 207px;
    width: 100%;
    height: 27px;
    background: #F4F4F4;
    margin: 0 auto;
}
.service__desc-top-img{
    padding: 0 10px 0 20px;
}
.service__desc-top-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #1C2752;
    padding-right: 20px;
}
.service__desc-title{
    font-family: 'MR';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    color: #1C2752;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.service__desc-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #1C2752;
    max-width: 832px;
    width: 100%;
    height: 54px;
    margin: 12px 14% 0;
}
.service__desc-form{
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.service__desc-form-btn{
    background: transparent;
    display: flex;
    flex-direction: row;
    max-width: 236px;
    width: 100%;
    height: 68px;
    transition: 0.2s ease-in;
}
.service__desc-form-btn:hover{
    border: 1px solid #FFFFFF;
    background: white;
}
.service__desc-form-btn-img{
    padding: 18px 10px 18px 42px;
}
.service__desc-form-btn-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #222222;
    padding: 20px 42px 20px 0;
}
.commercial{
    position: relative;
    z-index: 100;
    max-width: 1160px;
    width: 100%;
    height: 528px;
    box-shadow: -1px 6px 18px 0px #00000017;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.commercial__top{
    display: flex;
    flex-direction: row;
    max-width: 259px;
    width: 100%;
    height: 28px;
    background: #F4F4F4;
    margin: 70px 0 22px 60px;
}
.commercial__top-img{
    padding: 0 10px 0 20px;
}
.commercial__top-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #1C2752;
    padding-right: 20px;
}
.commercial__title{
    font-family: 'MR';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    color: #1C2752;
    padding: 0 0 12px 60px;
}
.commercial__text-st{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7E7E7E;
    max-width: 507px;
    width: 100%;
    height: 81px;
    margin: 0 0 10px 60px;
}
.commercial__text-nd{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7E7E7E;
    max-width: 507px;
    width: 100%;
    height: 81px;
    margin: 0 0 27px 60px;
}
.commercial__btn{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #1C2752;
    max-width: 190px;
    width: 100%;
    height: 68px;
    border: 2px solid #FFB342;
    background: #FFB342;
    margin: 0 0 0 60px;
}
.commercial__img{
    max-width: 416px;
    width: 100%;
    height: 366px;
    margin: 82px 60px 0 0;
}